<html>
    <head>
        <title>Add Duty</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <a href="/">Return Home</a>
        <div class="flexbox center-text">
            <div class="margin-5 border-gray">
                <h2 class="section-header">Add Duty</h2>
                <form class="margin-5" action="/store/duty/add" method="post">
                    <label class="float-left label-top-pad" for="name">Name</label>
                    <input class="float-right margin-2" type="text" name="name" id="name" value="">
                    <div style="clear: both;"></div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>