<html>
    <head>
        <title>Assign Duty</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <a href="/">Return Home</a>
        <div class="flexbox center-text">
            <div class="margin-5 border-gray">
                <h2 class="section-header">Assign Employee to Duty</h2>
                <form class="center-text flexbox flex-column" action="/store/duty/assign" method="post">
                    <div class="margin-5 flexbox">
                        <div class="margin-5">
                            <label for="employee">Employee</label>
                            <select class="width-fill" name="employee" id="employee" size=5>
                                {% for emp in employees %}
                                <option value="{{ emp.id }}">{{ emp.firstName }} {{ emp.lastName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="margin-5">
                            <label for="employee">Duty</label>
                            <select class="width-fill" name="duty" id="duty" size=5>
                                {% for duty in duties %}
                                <option value="{{ duty.id }}">{{ duty.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="width-fill">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>