<html>
    <head>
        <title>View All Duties</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <a href="/">Return Home</a>
        <div class="flexbox center-text">
            <div class="margin-5 border-gray overflow">
                <h2 class="section-header">Duty List</h2>
                <table class="border-collapse margin-5 width-auto">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for duty in duties %}
                        <tr>
                            <td>{{ duty.id }}</td>
                            <td>{{ duty.name }}</td>
                            <td>
                                <button>Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>