<html>
    <head>
        <title>View Assigned Duties</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <a href="/">Return Home</a>
        <div class="flexbox center-text">
            <div class="margin-5 border-gray overflow">
                <h2 class="section-header">Assigned Duty List</h2>
                <table class="border-collapse margin-5 width-auto">
                    <tr>
                        <th class="hide">Employee ID</th>
                        <th>Employee Name</th>
                        <th class="hide">Duty ID</th>
                        <th>Duty Name</th>
                        <th>Actions</th>
                    </tr>
                    {% for assignment in assignments %}
                    <tr>
                        <td class="hide">{{ assignment.id }}</td>
                        <td>{{ assignment.firstName }} {{ assignment.lastName }}</td>
                        <td class="hide">{{ assignment['Duties.id'] }}</td>
                        <td>{{ assignment.name }}</td>
                        <td>
                        <form class="margin-0" action="/store/duty/delete-assignment/{{ assignment['Duties.id'] }}/{{ assignment.id }}" method="post">
                            <button name="delete" value="delete">Delete</button>
                        </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>