<html>
<head>
    <title>Edit Orders</title>
    <style>
        .center {
            text-align: center;

        }

        table {
            margin: 0 auto;
            border: 3px solid green;
            width: 600px;
            text-align: center;
        }

        body {
            background-color: #ADADAD;
        }

    </style>
</head>
<body>
    <div class="center"> 
        <h1>Edit Order</h1>
        
        
        <form>
            <label for="orderid">Order ID:</label>
            <input type="text" id="orderid" name="orderid"><br> <br>
            <label for="driverid">Driver ID:</label>
            <input type="text" id="driverid" name="driverid"> <br> <br>
            <label for="orderstatus">Order Status:</label>
            <input type="text" id="orderstatus" name="orderstatus"> <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>
