<html>
<head>
    <title>Edit Orders</title>
    <style>
        .center {
            text-align: center;

        }

        table {
            margin: 0 auto;
            border: 3px solid green;
            width: 600px;
            text-align: center;
        }

        body {
            background-color: #ADADAD;
        }

    </style>
</head>
<body>
    <a href="/">Return Home</a>
    <div class="center"> 
        <h1>Edit Order</h1>
        
        
        <form>
            <label for="orderid">Order ID:</label>
            <input type="text" id="orderid" name="orderid"><br> <br>

            <label for="customerid">Customer ID:</label>
            <input type="text" id="customerid" name="customerid"><br> <br>

            <label for="driverid">Driver ID:</label>
            <input type="text" id="driverid" name="driverid"> <br> <br>

            <label for="orderstatus">Order Status:</label>
            <input type="text" id="orderstatus" name="orderstatus"> <br><br>

            <label for="street">Street:</label>
            <input type="text" id="street" name="street"><br> <br>

            <label for="city">City:</label>
            <input type="text" id="city" name="city"><br> <br>

            <label for="zip">Zipcode:</label>
            <input type="text" id="zip" name="zip"><br> <br>

            <label for="state">State:</label>
            <input type="text" id="state" name="state"><br> <br>

            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>
