<html>
<head>
    <title>Edit Orders</title>
    <style>
        .center {
            position: absolute;
            left: 45%;
            width: 300px;
            text-align: left;
            border: 2px solid grey;
            padding-left:50px;
        }

    </style>
</head>
<body>
    <a href="/">Return Home</a>
    <div class="center"> 
        <h1>Edit Order</h1>
        
        <form action="/store/order/edit/{{order.id}}" method="post">
            <input type="hidden" id="orderid" name="orderid" value="{{ order.id }}">
            <br> <br>

            <label for="customerid">Customer ID:</label>
            <select name="customerid">
                {% for customer in customers %}
                    {% if customer.id == order.customerId %}
                        <option selected value ="{{ customer.id }}"> {{ customer.id }} {{ customer.firstName }} {{ customer.lastName }} </option>
                    {% else %}
                        <option value ="{{ customer.id }}"> {{ customer.id }} {{ customer.firstName }} {{ customer.lastName }} </option>
                    {% endif %}
                {% endfor %}
            </select>
            <br> <br>

            <label for="driverid">Driver ID:</label>
            <select name="driverid"> 
                {% for driver in drivers %} 
                    {% if driver.id == order.employeeDriverId %}
                        <option selected value ="{{ driver.id }}"> {{ driver.id }} {{ driver.firstName }} {{ driver.lastName }} </option>
                    {% else %}
                        <option value ="{{ driver.id }}"> {{ driver.id }} {{ driver.firstName }} {{ driver.lastName }} </option>
                    {% endif %}
                {% endfor %}
            </select>
            <br> <br>

            <label for="orderstatus">Order Status:</label>
            <select name="orderstatus" id="orderstatus">
                {% if order.status == 1 %}
                    <option value="0">0</option>
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                {% elif order.status == 2 %}
                    <option value="0">0</option>
                    <option selected ="1">1</option>
                    <option selected value="2">2</option>
                {% else %}
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                {% endif %}
            </select>
            <br><br>

            <label for="street">Street:</label>
            <input type="text" id="street" name="street" value="{{ order.street }}"> <br> <br>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="{{ order.city }}"><br> <br>

            <label for="zip">Zipcode:</label>
            <input type="text" id="zip" name="zip" value="{{ order.zip }}"><br> <br>

            <label for="state">State:</label>
            <input type="text" id="state" name="state" value="{{ order.state }}"><br> <br>

            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>
