<html>
    <head>
        <title>View Orders</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <a href="/">Return Home</a>
        <div class="flexbox center-text">
            <div class="margin-5 border-gray overflow">
                <h2 class="section-header">Orders List</h2>
                <table class="border-collapse margin-5 width-auto">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Customer Id</th>
                            <th>Driver Id</th>
                            <th>Status</th>
                            <th>Status Time</th>
                            <th>Street</th>
                            <th>City</th>
                            <th>Zip</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders_list %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.customerId }}</td>
                            <td>{{ order.employeeDriverId }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.statusTime }}</td>
                            <td>{{ order.street }}</td>
                            <td>{{ order.city }}</td>
                            <td>{{ order.zip }}</td>
                            <td>{{ order.state }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
