<html>
<head>
    <title>View Orders</title>
    <style>
        .center {
            text-align: center;

        }

        table {
            margin: 0 auto;
            border: 3px solid green;
            width: 800px;
            text-align: center;
        }

        body {
            background-color: #ADADAD;
        }
    </style>
</head>
<body>
    <a href="/">Return Home</a>
    <div class="center"> 
        <h1>Orders List</h1>
        <table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer ID</th>
                        <th>Driver Id</th>
                        <th>Status</th>
                        <th>Status Time</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>Zip</th>
                        <th>State</th>
                        <th>Created</th>
                    </tr>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>4</td>
                        <td></td>
                        <td>1</td>
                        <td>2021-1-20 9:01:00</td>
                        <td>Main st</td>
                        <td>Denver</td>
                        <td>12345</td>
                        <td>Colorado</td>
                        <td>2021-1-20 10:01:00</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>2</td>
                        <td></td>
                        <td>1</td>
                        <td>2021-7-20 9:01:00</td>
                        <td>Middle st</td>
                        <td>Denver</td>
                        <td>12345</td>
                        <td>Colorado</td>
                        <td>2021-7-20 10:01:00</td>
                    </tr>
            </table>
    </div>
</body>
</html>
