.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: start;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.function-section {
    width: 400px;
    padding-bottom: 8px;
}

.border-collapse {
    border-collapse: collapse;
}

th,
td {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.border-gray {
    border-radius: 4px;
    border-color: lightgray;
    border-style: solid;
}

.bg-gray {
    background-color: lightgray;
}

.margin-2 {
    margin: 2px;
}

.margin-5 {
    margin: 5px;
}

.data-list > li,
.function-list > li {
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

.entity-list {
    width: 300px;
}

.width-auto {
    width: auto;
}

.width-min {
    width: min-content;
}

.width-fill {
    width: 100%;
}

.overflow {
    overflow: auto;
}

.label-top-pad {
    padding-top: 12px;
}

.pad-4 {
    padding: 4px;
}