<html>
<head>
    <title>Add Order</title>
    <style>
        .center {
            position: absolute;
            left: 45%;
            width: 300px;
            text-align: left;
            border: 2px solid grey;
            padding-left:50px;
        }

    </style>
</head>
<body>
    <a href="/">Return Home</a>
    <div class="center"> 
        <h1>Add Order</h1>
        <form action="/customer/order/add" method="post">
            <label for="customerid">Customer ID:</label>
            <select name="customerid"> 
                {% for c in customers_list %} 
                    <option value="{{ c.id }}"> {{ c.id }} {{ c.firstName }} {{ c.lastName }}</option>
                {% endfor %}
            </select>
            
            <br> <br>

            <label for="street">Street:</label>
            <input type="text" id="street" name="street"><br> <br>

            <label for="city">City:</label>
            <input type="text" id="city" name="city"><br> <br>

            <label for="zip">Zipcode:</label>
            <input type="text" id="zip" name="zip"><br> <br>

            <label for="state">State:</label>
            <input type="text" id="state" name="state"><br> <br>

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
