<html>
<head>
    <title>Add Item to Order</title>
    <style>
        .center {
            position: absolute;
            left: 45%;
            width: 300px;
            text-align: left;
        }

        body {
            background-color: #ADADAD;
        }

    </style>
</head>
<body>
    <a href="/">Return Home</a>
    <div class="center"> 
        <h1>Add Item to Order</h1>
        <form action="/customer/order/assign-item" method="post">
            <label for="orderid">Order ID:</label>
            <input type="text" id="orderid" name="orderid"><br> <br>

            <label for="itemid">Item ID:</label>
            <input type="text" id="orderid" name="itemid"><br> <br>

            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity"><br> <br>

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
