<html>
<head>
    <title>Lookup Order</title>
    <style>
        body {
            background-color: #ADADAD;
        }

        .center {
            text-align: center;

        }

        table {
            margin: 0 auto;
            border: 3px solid green;
            width: 800px;
            text-align: center;
        }
    </style>
</head>
<body>
    <a href="/">Return Home</a>
    <div class="center"> 
        <h1>View Order-Items By Order ID</h1>
        <form action="">
            <label for="orderID">Enter Order ID:</label>
            <input type="text" id="orderID" name="orderID"><br><br>

            <input type="submit" value="Submit">
        </form>

        <table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Item ID</th>
                        <th>Quantity</th>
                    </tr>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
            </table>
    </div>
</body>
</html>