<html>
    <head>
        <title>View OrderItems</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <a href="/">Return Home</a>

        <div style="width: 500px;margin: auto;text-align:center;">
        <h1>Filter Order-Items By Order ID</h1>
        <form  action="/customer/order/view" method="post">
            <label for="orderID">Select Order ID:</label>
            <select name="orderID"> 
                {% for i in ids %} 
                    <option value="{{ i.id }}"> {{ i.id }} </option>
                {% endfor %}
            </select>
            
            <br><br>

            <input type="submit" value="Submit">
        </form>
        </div>


        <div class="flexbox center-text">

            <div class="margin-5 border-gray overflow">
                <h2 class="section-header">OrderItems List</h2>
                <table class="border-collapse margin-5 width-auto">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Item Id</th>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orderItem in orderItems_list %}
                        <tr>
                            <td>{{ orderItem.orderId }}</td>
                            <td>{{ orderItem.itemId }}</td>
                            <td>{{ orderItem.name }}</td>
                            <td>{{ orderItem.price }}</td>
                            <td>{{ orderItem.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
