<html>
    <head>
        <title>Corvallis Pizza</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <h1>Page under construction</h1>
        <a href="/">Return home</a>
    </body>
</html>