<html>
    <head>
        <title>View All Employees</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <a href="/">Return Home</a>
        <div class="flexbox center-text">
            <div class="margin-5 border-gray overflow">
                <h2 class="section-header">Employee List</h2>
                <table class="border-collapse margin-5 width-auto">
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>ZIP Code</th>
                        <th>State</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Foo</td>
                        <td>Bar</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Flim</td>
                        <td>Flam</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>